{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block content %}

<ol class="breadcrumb">
    <li class="active">病房管理</li>
</ol>
<div class="col-md-12">
    <div class="modal_layer" id="modal_layer">
        <!--编辑信息模态框-->
        <div class="modal_layer" id="modal_edit">
            <div class="panel panel-danger">
                <div class="panel-heading" style="font-weight: bold">编辑病房信息
                    <a href='javascript:history.back(-1)' type="button" class="close"><span
                            aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">病历号</label>
                            <input type="text" name="id" value="{{ id }}" disabled="true" class="form-control"
                                autofocus>
                            <label for="">患者</label>
                            <input type="text" name="patient" value="{{ pname }}" disabled="true" class="form-control"
                                autofocus>
                            <label for="">主治医师</label>
                            <input type="text" name="doctor" value="{{ dname }}" disabled="true" class="form-control"
                                autofocus>
                            <label for="">诊断</label>
                            <input type=text name="content" value="{{ content }}" class="form-control" autofocus>
                            <span id="error" style="color: red">{{ error }}</span>
                        </div>
                        <input type="submit" class="btn" value="修改" id="edit_department" style="background: #f2dede;">
                    </form>
                </div>
            </div>
        </div>
        <!--编辑信息模态框-->
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}