{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block content %}
<ol class="breadcrumb">
    <li class="active">病房管理</li>
</ol>
<div class="col-md-12">
    <div class="modal_layer" id="modal_layer">
        <div class="panel panel-danger">
            <div class="panel-heading" style="font-weight: bold">添加病房信息
                <a href='javascript:history.back(-1)' type="button" class="close"><span
                        aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">所属病房</label>
                        <select name="ward" class="form-control" autofocus>
                            {% for ward in list %}
                            <option value="{{ ward.id }}">{{ ward.id }}</option>
                            {% endfor %}
                        </select>
                        <label for="">是否占用</label></br>
                        <input type="radio" name="occupy" value="1">是</br>
                        <input type="radio" name="occupy" value="0">否</br>
                        <span id="error" style="color: red">{{ error }}</span>
                    </div>
                    <input type="submit" class="btn" value="添加" style="background: #f2dede;">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}{% endblock %}