{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block content %}

<ol class="breadcrumb">
    <li class="active">病房管理</li>
</ol>
<div class="col-md-12">
    <div class="modal_layer" id="modal_layer">
        <!--编辑信息模态框-->
        <div class="modal_layer" id="modal_edit">
            <div class="panel panel-danger">
                <div class="panel-heading" style="font-weight: bold">编辑病房信息
                    <a href='javascript:history.back(-1)' type="button" class="close"><span
                            aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">病床ID</label>
                            <input type="text" name="id" value="{{ id }}" class="form-control" autofocus>
                            <label for="">病房</label>
                            <select name="ward" class="form-control" autofocus>
                                {% for ward in list %}
                                <option value="{{ ward.id }}">{{ ward.location }}</option>
                                {% endfor %}
                            </select>
                            <label for="">是否占用</label></br>
                            <input type="radio" name="occupy" value="1">是</br>
                            <input type="radio" name="occupy" value="0">否</br>
                            <span id="error" style="color: red">{{ error }}</span>
                        </div>
                        <input type="submit" class="btn" value="修改" id="edit_department" style="background: #f2dede;">
                    </form>
                </div>
            </div>
        </div>
        <!--编辑信息模态框-->
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}